.git
.gitignore

.vscode
.idea

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/
Include/
Lib/
Scripts/
pyvenv.cfg

*.egg-info/
build/
dist/

*.log
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

*.sqlite3

.env
.env.*
!.env.example

node_modules/

staticfiles/
media/
